<mat-card>
  <mat-card-header>
    <mat-card-title>Expandable mat-table with inner table</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-expandable-table></app-expandable-table>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Expandable mat-table with inner expansion panels</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-expandable-table-expansion-panels></app-expandable-table-expansion-panels>
  </mat-card-content>
</mat-card>
